@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&subset=latin-ext');

body{
	background: #fff;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 19px;
    letter-spacing: 1px;
	line-height: 1.5;
	color: #222;
	margin: 0;
}

/* fake bold */
b, strong{
	font-weight: normal;
	text-shadow:1px 0 0 currentColor;
}

#notes{
	width: 800px;
	margin: 80px auto;
	line-height: 1.7em;
}

h3{
	margin-top: 2.5em;
	margin-bottom: -0.2em;
}